.workshop-error-body-class{
	height: 100vh;
	background-image: url("/img/binoculars.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.workshop-access-denied-body-class{
	max-width: 980px;
	height: 100vh;
	margin: auto;
	background-image: url("/img/turbolift_access_denied.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.workshop-error-message-wrapper{
    display: flex;
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
