/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

.box-slider{
	height: 100%;
}

.box-slider .carousel-control-prev{
	background: #2FA4E7;
	position: absolute;
	left: 0px;
	font-size: 38px;
	top: 40%;
	width: 60px;
	height: 60px;
	line-height: 20px;
	opacity: 1;
}
.box-slider .carousel-control-next{
	background: #2FA4E7;
	position: absolute;
	right: 0px;
	font-size: 38px;
	top: 40%;
	width: 60px;
	height: 60px;
	line-height: 20px;
	opacity: 1;
}

.big-tagline a,
.big-tagline a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.big-tagline a.hover-btn-new::before,
.big-tagline a.hover-btn-new::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: 1;
}

.big-tagline a.hover-btn-new:hover span {
  color: #2FA4E7;
}

.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.hover-btn-new::after {
  background: #2FA4E7 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.hover-btn-new span{
	position: relative;
	z-index: 2;
}

.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.first-section .big-tagline a:hover{
	color: #333333;
}
.box-slider .carousel-inner{
	height: 100%;
}
.box-slider .carousel-item{
	height: 100%;
	width: 100%;
}

.first-section {
    position: relative;
    overflow: hidden;
    height: 100%;
	vertical-align: middle;
}

.first-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
	top: 0px;
	left: 0px;
    display: block;
    background: rgba(0,0,0,0.5);
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.first-section h2 strong{
	color: #2FA4E7;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.box-slider .first-section{
	display: table;
	position: relative;
	width: 100%;
}
.dtab{
	display: table-cell;
	vertical-align: middle;
}

#carouselExampleControls{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

.carousel-indicators{
    margin-bottom: 60px;
}
