.workshop-wrapper-float-right{
    display: inline-block;
    color: white;
}

.workshop-content-body{
    max-width: 1000px;
    margin: auto;
}

.workshop-row-content{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 24%;
    padding: 0;
    margin: 0;
}
